.container {
    padding: none;
    background-color: rgb(255, 255, 137);
    width: 100vw;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
}

.box {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
    height: 400px;
    border: solid 3px black;
    box-shadow: 20px 10px 30px 15px rgba(34, 50, 166, 0.571);
    
    box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
background-color: #7cf675;
transition: all 1s ease-out;
left: 50%;
top: 50%;
clip-path: polygon(20% 0%, 80% 0, 100% 100%, 0%  100%);
clip-path: polygon(50% 0%, 100% 100%, 0%  100%);border-radius: 1em;
}

p {
    font-size: medium;
    font: 2em sans-serif;
}

.box:hover {

    transform-origin: left;
    transform: rotate(0.47rad);


}